body {
  font-family: Arial, sans-serif;

  padding: 20px;
}
.operator,
#equals,
.number,
#decimal,
#clear,
#backspace,
#round2,
#plusMinus {
  width: 75px;
  height: 90px;
  margin: 5px;
  border: 1px solid #dac6eb;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font: 2em sans-serif;
  color: #878356;
}
.operator,
#equals {
  background-color: #f8fdb5;
}
.operator:hover {
  background-color: #dac6eb;
}
.number,
#decimal {
  background-color: #edebe7;
}
#clear,
#backspace,
#round2,
#plusMinus {
  background-color: #dfcbb3;
  color: #edebe7;
}
input {
  width: 320px;
  height: 80px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  font: 2em sans-serif;
  color: #878356;
  background-color: #edebe7;
}
table {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #c0bc97;
}
td {
  text-align: center;
}
